<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Добавление обьявления :: Доска объявлений</title>
    </head>
    <body>
        <div>
            <h1>Добавление обьявления</h1>
            <a href="{% url 'index' %}">Главная</a>
            {% for rubric in rubrics %}
                <a href="{% url 'by_rubric' rubric.pk %}"></a>
                {{ rubric.name }}
            {% endfor %}
        </div>
        <form method="post">
            {% csrf_token %}
            {{form.as_p}}
            <input type="submit" value="Добавить">
        </form>
    </body>
</html>