header h1 {
    font-size: 40pt;
    text-transform: uppercase;
    text-align: center;
}

nav {
    font-size: 16pt;
    width: 150pt;
    float: left;
}

nav a {
    display: block;
    margin: 10 px 0px;
}

section {
    margin-left: 170px;
}